<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashbord</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2>Welcome to My Dashbord</h2>

  {% if user %}
      <p>User information</p>
      <ul>
        <li>Name : {{user[1]}}</li>
        <li>Email : {{user[2]}}</li>
      </ul>
      <a href="/logout" class="btn btn-dark">Logout</a>
   {% endif %}   
</div>
</body>
</html>